<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3Xd0n5rHPmXEXsI9VlAc3_FRl2-_YHdE</string>
	<key>GCM_SENDER_ID</key>
	<string>796154472890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jakarta.Quiz</string>
	<key>PROJECT_ID</key>
	<string>quiz-a9d8d</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-a9d8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796154472890:ios:903bfa8aacb8c4b9d31583</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-a9d8d-default-rtdb.firebaseio.com</string>
</dict>
</plist>